name: Build and push docker image

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_test:
    name: Build and test
    uses: ./.github/workflows/build_and_test.yml

  docker_push:
    name: Build & push Docker image
    needs: build_and_test
    uses: ./.github/workflows/docker_push.yml
  release_crate:
    name: Release new crate
    needs: build_and_test
    uses: ./.github/workflows/release_cargo.yml
    secrets: inherit
