name: Build and push docker image

on:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml

  build_and_test:
    needs: lint
    name: Build and test
    uses: ./.github/workflows/build_and_test.yml

  release_crate:
    name: Release new crate
    needs: build_and_test
    uses: ./.github/workflows/release_cargo.yml
    secrets: inherit
